[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/bundle/vim-salve"]
	path = vim/bundle/vim-salve
	url = https://github.com/tpope/vim-salve.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "_vim/bundle/vim-fireplace"]
	path = _vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "_vim/bundle/jedi-vim"]
	path = _vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "_vim/bundle/ale"]
	path = _vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "_vim/bundle/vim-go"]
	path = _vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".emacs_packages/avy"]
	path = .emacs_packages/avy
	url = https://github.com/abo-abo/avy.git
[submodule ".emacs_packages/base16-emacs"]
	path = .emacs_packages/base16-emacs
	url = https://github.com/belak/base16-emacs.git
[submodule ".emacs_packages/drag-stuff.el"]
	path = .emacs_packages/drag-stuff.el
	url = https://github.com/rejeep/drag-stuff.el.git
[submodule ".emacs_packages/dumb-jump"]
	path = .emacs_packages/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule ".emacs_packages/evil-leader"]
	path = .emacs_packages/evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule ".emacs_packages/emacs-git-gutter"]
	path = .emacs_packages/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule ".emacs_packages/indent-guide"]
	path = .emacs_packages/indent-guide
	url = https://github.com/zk-phi/indent-guide.git
[submodule ".emacs_packages/smex"]
	path = .emacs_packages/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs_packages/emacs-which-key"]
	path = .emacs_packages/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule ".emacs_packages/mood-line"]
	path = .emacs_packages/mood-line
	url = https://gitlab.com/jessieh/mood-line.git
