tags
TAGS
.zsh_history
zsh_history
.zhistory
.zcompdump*
*/shada/*
nvim/log
nvim/lsp.log
packer_compiled.lua
roles/dotfiles/files/nvim/config/*
roles/dotfiles/files/nvim/lua/config/telescope/local/*
roles/dotfiles/files/zsh/.zshrc
