[submodule "nvim/colors/tokyonight.nvim"]
	path = nvim/colors/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "zsh/custom/themes/spaceship-prompt"]
	path = zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "nvim/pack/bundle/start/telescope.nvim"]
	path = nvim/pack/bundle/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/bundle/start/popup.nvim"]
	path = nvim/pack/bundle/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/pack/bundle/start/plenary.nvim"]
	path = nvim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/colors/material.nvim"]
	path = nvim/colors/material.nvim
	url = https://github.com/marko-cerovac/material.nvim.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nvim/pack/bundle/start/nvim-bqf"]
	path = nvim/pack/bundle/start/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf.git
[submodule "nvim/colors/monokai.nvim"]
	path = nvim/colors/monokai.nvim
	url = https://github.com/tanvirtin/monokai.nvim.git
[submodule "nvim/colors/sonokai"]
	path = nvim/colors/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule "nvim/pack/bundle/start/lualine.nvim"]
	path = nvim/pack/bundle/start/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim.git
[submodule "nvim/pack/bundle/start/nvim-compe"]
	path = nvim/pack/bundle/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule "nvim/pack/bundle/start/vim-qf"]
	path = nvim/pack/bundle/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "nvim/pack/bundle/start/gitsigns.nvim"]
	path = nvim/pack/bundle/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/pack/bundle/start/nvim-colorizer.lua"]
	path = nvim/pack/bundle/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "nvim/pack/bundle/start/snap"]
	path = nvim/pack/bundle/start/snap
	url = https://github.com/camspiers/snap.git
[submodule "nvim/pack/bundle/start/neogit"]
	path = nvim/pack/bundle/start/neogit
	url = https://github.com/TimUntersberger/neogit.git
