tags
TAGS
.zsh_history
zsh_history
.zhistory
.zsh_sessions
.zcompdump*
*/shada/*
nvim/log
nvim/lsp.log
packer_compiled.lua
roles/dotfiles/files/nvim/config/*
roles/dotfiles/files/nvim/lua/config/telescope/local/*
roles/dotfiles/files/zsh/.zshrc
roles/dotfiles/files/emacs/auto-save-list/*
roles/dotfiles/files/emacs/backup/*
!roles/dotfiles/files/emacs/backup/.gitkeep
roles/dotfiles/files/emacs/eln-cache/*
roles/dotfiles/files/emacs/elpa/*
roles/dotfiles/files/emacs/etc/*
roles/dotfiles/files/emacs/history
roles/dotfiles/files/emacs/projectile-bookmarks.eld
roles/dotfiles/files/emacs/straight/*
roles/dotfiles/files/emacs/themes/*
roles/dotfiles/files/emacs/transient/*
roles/dotfiles/files/emacs/undo-fu-session/*
roles/dotfiles/files/emacs/var/*
\#*\#
.#*
roles/dotfiles/files/emacs/site-lisp/*
roles/dotfiles/files/emacs/!site-lisp/.gitkeep
local-settings.el
