[submodule "alacritty/dot-config/alacritty/alacritty-theme"]
	path = alacritty/dot-config/alacritty/alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "zsh/dot-config/zsh/plugins/fzf-git.sh"]
	path = zsh/dot-config/zsh/plugins/fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "tmux/dot-config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/dot-config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/dot-config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/dot-config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/dot-config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/dot-config/zsh/plugins/zsh-history-substring-search"]
	path = zsh/dot-config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/dot-config/zsh/plugins/zsh-async"]
	path = zsh/dot-config/zsh/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "zsh/dot-config/zsh/plugins/fzf"]
	path = zsh/dot-config/zsh/plugins/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "ghostty/dot-config/ghostty/repo-themes/catppuccin-ghostty"]
	path = ghostty/dot-config/ghostty/repo-themes/catppuccin-ghostty
	url = git@github.com:catppuccin/ghostty.git
[submodule "zsh/dot-config/zsh/plugins/zsh-completions"]
	path = zsh/dot-config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/dot-config/zsh/plugins/fzf-tab"]
	path = zsh/dot-config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/dot-config/zsh/plugins/zsh-abbr"]
	path = zsh/dot-config/zsh/plugins/zsh-abbr
	url = https://github.com/olets/zsh-abbr
[submodule "zsh/dot-config/zsh/plugins/zsh-autosuggestions-abbreviations-strategy"]
	path = zsh/dot-config/zsh/plugins/zsh-autosuggestions-abbreviations-strategy
	url = git@github.com:olets/zsh-autosuggestions-abbreviations-strategy.git
