backup
log
shada
site
undo
databases
rplugin.vim
*.sqlite3
lsp.log
telescope_history
tree-sitter-verilog
telescope-projects.txt
telescope-workspaces.txt
.netrwhist
sessions
luasnip.log
snippets_local
neotest.log
lazy
lazy-lock.json
mason.log
mason
dapui.log
lazy-lock.json
neo-tree.nvim.log
