backup
log
shada
site
undo
databases
rplugin.vim
*.sqlite3
lsp.log
telescope_history
tree-sitter-verilog
telescope-projects.txt
telescope-workspaces.txt
.netrwhist
sessions
luasnip.log
.local_snippets.lua
neotest.log
