local-settings.el
tmp/*
backups/*
auto-save-list/*
recentf
savehist
elpy/*
.cache/*
projectile-bookmarks.eld
undo-fu-session/*
\#*\#
eshell/*
elpa/*
undohist/*
TAGS
image-dired/*
.#*
tramp
var/*
etc/*
flycheck_*.el
emacs.appimage/*
site-lisp/*
!site-lisp/.gitkeep
eln-cache/*
history
straight/*
